#digital-clock{
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 72px;
}
.time{
    float: left;
}

#analog-clock{
    clear: both;
    display: block;
    margin: auto;
    width: fit-content;
    background-color: pink;
}
#circle{
    border: black 20px solid;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
#hour-hand{
    display: block;
    margin: auto;
    position: relative;
    height: 250px;
    width: 20px;
    background-color: black;
    transform: rotate(0deg);
    transform-origin: 0% 100%;
}
#min-hand{
    display: block;
    margin: auto;
    position: relative;
    height: 249px;
    width: 20px;
    background-color: black;
    transform: rotate(180deg);
    transform-origin: 100% 0%;
}